<%- include('./partials/head'); %>
  <body>
	<%- include("./partials/menu"); %>
    <div id="login-container">
      <div id="left-column"></div>
      <div id="branding">
        <img src="./images/logo.png" />
        <h1>Login - Chat Application</h1>
      </div>
      <div id="login-form">
        <form method="post" action="/" id="user-login-form">
          <input
            type="text"
            name="username"
            placeholder="enter mobile or email"
            value="<%= data.username %>"
          />
		  
		  <% if(errors.username) { %> 
          <p class="error show"> <%= errors.username.msg %> </p>
			<% } else { %>
          <p class="error"></p>
			<% } %>

          <input type="password" name="password" placeholder="enter password" />

		  <% if(errors.password) { %> 
          <p class="error show"> <%= errors.password.msg %> </p>
			<% } else { %>
          <p class="error"></p>
			<% } %>
	
			<br/>
		  <% if(errors.common) { %> 
          <p class="error show"> <%= errors.common.msg %> </p>
			<% } else { %>
          <p class="error"></p>
			<% } %>

          <input type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
  <script>
	  const form = document.querySelector("#user-login-form");
	//Removing ERROR indication 
	//after start typing the field
	//Added by MySelf !!! I'm so proud of me :D 
  form.addEventListener("keydown",(e) => {
	e.target.nextSibling.nextSibling.classList.remove("show");
	e.target.nextSibling.nextSibling.style.display = "none"
  });
	//////////////////////////
  </script>

  <script> 
	  <% if(errors.auth) { %>
		const authErrorToast = Toastify({text:"<%= errors.auth.msg %>", duration: 3000});
	  authErrorToast.showToast();
	  <% } else { %>
	  const authErrorToast = undefined;
	  <% } %>
  </script>
  <%- include('./partials/footer.ejs'); %>
</html>
